body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black!important;
  color:  white!important;
  min-height: 100vh!important;
}


.world{
  widows: 100%;
  height:  auto;
  display: flex;
}
.playerWorld{
  margin: auto;
}
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
tr{
  height: 25px;
}
td{
  width: 25px;
}
img{
  height: 25px;
}